pre > code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}

nav > ul > li > a + div > ul > li > a {
    text-indent: 15px; /* Can use padding-left as well */
}