pre > code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 15px;
}

code {
  background-color: #eee;
  padding: 3px;
  color: unset;
}

.nav > li > ul > li a {
  text-indent: 20px;
}

.nav > li > ul > li > ul > li a {
  text-indent: 40px;
}

.nav > li > ul > li > ul > li > ul > li a {
  text-indent: 60px;
}

.nav > li > ul > li > ul > li > ul > li > ul > li a {
  text-indent: 80px;
}

.nav > li > ul > li > ul > li > ul > li > ul > li > ul > li a {
  text-indent: 100px;
}